body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    line-height: 1.5em; 
}
textarea {
    height: 200px; 
    width: 400px; 
}

h1 {
    font-size: 2em; 
}

#main {
    padding:20px; 
}

p {
    font-size: 1.2em; 
}

