.navLink, 
.menu-text {
    text-transform: uppercase; 
    font-weight: bold; 
}
main {
    margin-top: 30px; 
}

.front-page {
    height: 400px;
    margin-top: 10px; 
    margin-bottom: 10px; 
 
}

#examplesList {
    list-style-type: none; 
}

#examplesDiv, #outputDiv {
    background-color: #333; 
    color: white; 
}

#examplesDiv section, 
#outputDiv section {
    padding: 10px; 

}

textarea {
    height: 400px; 
    width: 100%; 
    box-shadow: none; 
}

p {
    font-size: 1.1em; 
}

table {
    width: 70%; 
    margin: 0 auto;
}

.page-title {
    font-size: 2em; 
    margin-top: 25px; 
    margin-bottom: 25px; 
}

